doctype html
head
    title My first styled page
    link(rel='stylesheet' href='mystyle.css')
    title My first styled page
ul.navbar
    li
        a(href='index.html') Home page
    li
        a(href='town.html') My town
    li
        a(href='links.html') Links
    li
        a(href='about_me.html') About me
h1 My first styled page
p
    | Welcome to my styled page!
h2 test
p
    | Welcome test!
div
    p OSI
    | definition
div
    p OSI
    | another definition